@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "نسيان كلمة السر";
}

<h1 class="container" style="font-family: Cairo;direction:rtl">@ViewData["Title"]</h1>
<p class="container" style="font-family: Cairo;direction:rtl">
    الرجاء النقر على الرابط المرسل الى الايميل الخاص بك لاغراض اعادة كلمة السر
</p>

