@page
@model LockoutModel
@{
    ViewData["Title"] = "قفل الحساب";
}

<header class="container" style="font-family: Cairo;direction:rtl">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">الحساب الخاص بك تم غلقة. الرجاء المحاولة لاحقا</p>
</header>
