@page
@model LogoutModel
@{
    ViewData["Title"] = "تسجيل الخروج";
}


<header class="container" style="font-family: Cairo;direction:rtl"> 
    <h1>@ViewData["Title"]</h1>
    <p>قمت تسجيل الخروج بنجاح من الموقع</p>
</header>