@page
@model ArticlProject.Pages.AllUsersModel
@{
}


    <section class="bounce animated article-clean">
        <div class="container">
            <section class="team-boxed">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center" style="font-family: Cairo, sans-serif;">ناشرونا</h2>
                    </div>
                    <div class="row people">
                        <div class="col-md-6 col-lg-4 item" data-aos="zoom-out">
                            <div class="box">
                                <img class="rounded-circle" src="~/img/1.jpg">
                                <h3 class="name">Ben Johnson</h3>
                                <p class="title">Musician</p>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item" data-aos="zoom-out">
                            <div class="box">
                                <img class="rounded-circle" src="~/img/2.jpg">
                                <h3 class="name">Emily Clark</h3>
                                <p class="title">Artist</p>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item" data-aos="zoom-out">
                            <div class="box">
                                <img class="rounded-circle" src="~/img/3.jpg">
                                <h3 class="name">Carl Kent</h3>
                                <p class="title">Stylist</p>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item" data-aos="zoom-out">
                            <div class="box">
                                <img class="rounded-circle" src="~/img/3.jpg">
                                <h3 class="name">Carl Kent</h3>
                                <p class="title">Stylist</p>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item" data-aos="zoom-out">
                            <div class="box">
                                <img class="rounded-circle" src="~/img/3.jpg">
                                <h3 class="name">Carl Kent</h3>
                                <p class="title">Stylist</p>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item" data-aos="zoom-out">
                            <div class="box">
                                <img class="rounded-circle" src="~/img/3.jpg">
                                <h3 class="name">Carl Kent</h3>
                                <p class="title">Stylist</p>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item" data-aos="zoom-out">
                            <div class="box">
                                <img class="rounded-circle" src="~/img/3.jpg">
                                <h3 class="name">Carl Kent</h3>
                                <p class="title">Stylist</p>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 item" data-aos="zoom-out">
                            <div class="box">
                                <img class="rounded-circle" src="~/img/3.jpg">
                                <h3 class="name">Carl Kent</h3>
                                <p class="title">Stylist</p>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                                <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </section>
 