@page "{id:int}"
@model ArticlProject.Pages.ArticleModel
@{
}


    <section class="bounce animated article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="intro">
                        <h1 class="text-center" style="font-family: Cairo, sans-serif;">@Model.authorPost.PostTitle</h1>
                        <p class="text-center"><span class="by">by</span> <a href="#">@Model.authorPost.FullName</a><span class="date">@Model.authorPost.AddedDate </span></p><img class="img-fluid" src="~/Images/@Model.authorPost.PostImageUrl">
                    </div>
                    <div class="text">
                        <p class="text-end" style="font-family: Cairo, sans-serif;">
                            @Model.authorPost.PostDescription
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="zoom-in" class="social-icons">
            <a href="#"></a>
            <h3 style="font-family: Cairo, sans-serif;">شارك المقالة</h3><i class="icon ion-social-twitter"></i><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"></a>
        </div>
    </section>
   